@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --page-header-height: 0px;
}

@media (min-width: 768px) {
  :root {
    --page-header-height: 64px;
  }
}

/* 全局细滚动条样式 */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 2px; /* 竖直滚动条宽度 */
  height: 2px; /* 水平滚动条高度 */
}

html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  background: transparent; /* 轨道背景 */
}

html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2); /* 滑块颜色 */
  border-radius: 10px; /* 圆角 */
  border: none;
}

/* Firefox（仅支持粗细） */
html,
body {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}

